

<h3>Users</h3>
<% if @users.any? %>
<ul>

<% @users.each do |user| %>

  <li><%=link_to user.email, user_path(user)%></li>


<% end %>
</ul>
<% else %>

<p>there are currently no users</p>

</div>
<% end %>
