<h2>Contact the creators!</h2>
<br><br>

Email:
<ul>
<li><a href="mailto:ajrmdn@gmail.com?subject=possiblesequel">Abdellah Ramadan -- UI/UX</a></li>
<li><a href="mailto:fatherofdharma@gmail.com?subject=possiblesequel">Daniel Honegel -- Testing</a></li>
<li><a href="mailto:jakobinwins@gmail.com?subject=possiblesequel">Jacob Irwin -- Full Stack Development</a></li>
<li><a href="mailto:lake.bramlett@gmail.com?subject=possiblesequel">Lake Bramlett -- Team Lead/Full Stack Development</a></li>
<li><a href="mailto:nramseysc@gmail.com?subject=possiblesequel">Nack Ramsey -- Development/Database Operations</a></li>
</ul>
