<h2>About Possible Sequel</h2>
<br>
<br>
<p>Possible sequel is a film focused platform for pitting users' creative storytelling abilities against one another. Weekly and Monthly promps are posted for users to evaluate how two movies, linked by a common thread, can be hypothetically connected. Common threads are often in common by the actors playing two different characters, the locations of the story, or the years the stories took place. Join the community by submitting your first post connecting two movies in a prompt! </p>
<br><br>
<p>Lead Creators: Nick Ramsey, Jacob Irwin, Abdellah Ramadan, Lake Bramlett, Daniel Hongel</p>
