@import 'movies';

body {
  font-family: 'Roboto', sans-serif;

}

header {
  border-bottom: 1px solid;
}

header h1 {
  text-align: center;
}

header nav {
  margin-bottom: 15px;
  margin: 0px;
}

header nav span {
  margin: 0px ;
  align-items: center;
  justify-content: space-between;
  // display: flex;
}


.possible {
  text-transform: lowercase;
  margin: 0px;
  font-size: 3rem;
}

.sequel {
  text-transform: uppercase;
  margin: 0px;
  font-size: 4rem;
}

.flashes {
  text-align: center;
  height: 30px;
  padding: 10px;
}
