@import 'movies';

body {
  font-family: 'Roboto', sans-serif;

}

header {
  border-bottom: 1px solid;
}

header h1 {
  text-align: center;
}

header nav {
  margin-bottom: 15px;
}

header nav span {
  margin: 0px 1%;
}

.flashes {
  text-align: center;
  height: 30px;
  padding: 10px;
}
