@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateY(-10rem); }
    50% {
      transform: translateY(1rem); }
      100% {
        opacity: 1;
        transform: translate(0); } }


.index-box {
}

textarea {
  width: 80%;
  height: 20rem;
}

.index-box img {
  width: 100%;
  border-style: solid;
}

#post_body {
  background-color: rgb(124, 139, 190);
  border: .5em;
  border-style: solid;
  border-color: rgb(215, 226, 98);
}

.movie-1, .movie-2, .answer-form {
  vertical-align: top;
}

.movie-1 {
  display: inline-block;
  width: 24%
}

.movie-2 {
  display: inline-block;
  width: 24%
}

.info-box {
  text-align: center;
  padding: 10px;
  font-size: 12px;
}

.answer-form {
  display: inline-block;
  width: 50%;
  text-align: center;
}

.answers {
  text-align: center;
  height: 30rem;
  overflow: scroll;
  margin-top: 20px;
  padding: 15px;
}

.answer-border {
  background-color: rgb(215, 226, 98);
  padding: 5px;
  display: inline-block;
  width: 31%;
  margin: 1%;
}

.answer-card {
  text-align: left;
  background-color: rgb(124, 139, 190);
  padding: 5px;
}

.answer-card .body {
  height: 4rem;
  overflow: auto;
}

.answer-card a {
  color: #0c1d73;
}
// .answer-card .body::-webkit-scrollbar {
//   color: black;
// }
