.index-box {

}

textarea {
  width: 80%;
}

.index-box img {
  width: 100%
}

.movie-1 {
  display: inline-block;
  width: 24%
}

.movie-2 {
  display: inline-block;
  width: 24%
}

.answer-form {
  display: inline-block;
  width: 50%;
  text-align: center;
}

.answers {
}
